html {
  font-size: 1rem;
}

body{
  background-color: #f1f1f1;
  font-family: Roboto-mono;
  overflow-x: hidden;
}

img{
  width: 10%;
  height: auto;
  border-radius: 50%;
}
#welcome-stuff{
  margin-top: 10vh;
  padding-bottom: 40px;
}
#wlcm-video{
  width: 30%;
  height: auto;
}
nav ul li{
  font-size: 20px;
  padding: 5px;
  color: rgb(247, 245, 243);
  text-decoration: none;
}
nav{
  background-color: rgb(108, 110, 110);
  position: fixed;
}
#nav-wlcm-text{
  font-size: 30px;

}

#join_btn{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
#learn_btn{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(83, 83, 83);
  color: aquamarine;
  margin-top: 5px;
}
hr{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr.divider {
  max-width: 1.5px;
  border-width: 50px;
  border-color: aquamarine;
}
#About {
  background-color: rgb(68, 67, 67);
  padding-bottom: 30px;
}
#About h2{
  color: white;
  padding-top: 30px;
}
#About p{
  color: white;
  margin: auto;
  font-size: larger;
}
#events{
  margin-top: 10px;
}
#past{
  background-color: rgb(68, 67, 67); 
}
#past ul li{
color: white;
  font-size: 30px;
}

#Team{
  padding-top: 20px;
}


