html {
  font-size: 1rem;
}

body{
  background-color: #f1f1f1;
  font-family: Roboto-mono;
  overflow-x: hidden;
}

img{
  width: 10%;
  height: auto;
  border-radius: 50%;
}
#welcome-stuff{
  margin-top: 10vh;
  padding-bottom: 40px;
}
#wlcm-video{
  width: 30%;
  height: auto;
}
nav ul li{
  font-size: 20px;
  padding: 5px;
  color: rgb(247, 245, 243);
  text-decoration: none;
}
nav{
  background-color: rgb(108, 110, 110);
  position: fixed;
}
#nav-wlcm-text{
  font-size: 30px;

}
#join_btn{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
#learn_btn{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(83, 83, 83);
  color: aquamarine;
  margin-top: 5px;
}
hr{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr.divider {
  max-width: 1.5px;
  border-width: 50px;
  border-color: aquamarine;
}
#About {
  background-color: rgb(68, 67, 67);
  padding-bottom: 30px;
}
#About h2{
  color: white;
  padding-top: 30px;
}
#About p{
  color: white;
  margin: auto;
  font-size: larger;
}
#events{
  margin-top: 10px;
}
#past{
  background-color: rgb(68, 67, 67);
}
#Team{
  padding-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalBtn{
  width: 33%;
  height: auto;
  border-radius: 50%;
  border: chocolate 2px;
}
.modal img{
  width: 15%;
  border-radius: 0%;
}
#names{
  color: cornflowerblue;
  font-size: 30px;
  padding-top: -20px;
  margin-top: -20px;
}
#roles{
  color: #aaaaaa;
}
#myBtn1{
  size: ;
}
#myBtn1:hover{
  size: 100px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

/*body { 
  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  background: #222;
  overflow: hidden;
}

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
*/
canvas {
   background:none;
   margin:auto;
   position:fixed;
   left:50%;
   top:50%;
   transform:translateX(-50%) translateY(-50%);
}
.wrapper
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  
  h1.glitch
    color: black
    font-family: sans-serif
    font-weight: 800
    position: relative
    font-size: 100px
    padding: 30px
    
  h1.glitch::before, h1.glitch::after
    padding: 30px
    color: black
    content: "Glitch"
    position: absolute
    width: 100%
    height: 100%
    background: white
    overflow: hidden
    top: 0
  
  h1.glitch::before
    left: 3px
    text-shadow: -2px 0 red
    animation-name: glitch-animation-1
    animation-duration: 2s
    animation-timing-function: linear
    animation-delay: 0s
    animation-iteration-count: infinite
    animation-direction: reverse-alternate
    
  h1.glitch::after
    left: -3px
    text-shadow: -2px 0 blue
    animation-name: glitch-animation-2
    animation-duration: 2s
    animation-timing-function: linear
    animation-delay: 0s
    animation-iteration-count: infinite
    animation-direction: reverse-alternate
  
@keyframes glitch-animation-1
  $steps: 20
  @for $i from 0 through $steps 
    #{percentage($i*(1/$steps))} 
      clip: rect(random(150)+px, 350px, random(150)+px, 30px)
    
@keyframes glitch-animation-2
  $steps: 20
  @for $i from 0 through $steps 
    #{percentage($i*(1/$steps))} 
      clip: rect(random(150)+px, 350px, random(150)+px, 30px)
